# torch==2.3.0
Levenshtein==0.20.2
librosa==0.10.2.post1
tensorboardX==2.1
# ctcdecode==1.0.2
pycorrector==0.3.0
sounddevice==0.4.1
# PyAudio==0.2.14
Flask==3.1.0
Flask-Cors==5.0.0
tqdm==4.50.2
joblib==1.4.2
Werkzeug==3.1.3
gunicorn==20.0.4
# Пожалуйста, следуйте инструкциям по установке # , приведенным в README.